body {
    padding: 25px;
}

.title {
    color: #5C6AC4;
}

.bb {
    padding-bottom: 2px;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    font-family: Inter, Arial, Helvetica, Noto Sans Devanagari, Noto Sans CJK SC Thin, Noto Sans SC, Noto Sans Hebrew, sans-serif;
}

.bbb {
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-size: 13px;
    /*line-height: 16px;*/
    /*color: rgb(25, 39, 60);*/
    color: rgb(60, 109, 240);
    font-family: Inter, Arial, Helvetica, Noto Sans Devanagari, Noto Sans CJK SC Thin, Noto Sans SC, Noto Sans Hebrew, sans-serif;
}

.bbbb {
    // padding-bottom: 2px;
    // margin-bottom: 10px;
    font-size: 11px;
    /*line-height: 16px;*/
    color: rgb(25, 39, 60);
    font-family: Inter, Arial, Helvetica, Noto Sans Devanagari, Noto Sans CJK SC Thin, Noto Sans SC, Noto Sans Hebrew, sans-serif;
}

.bbc {
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    font-family: Inter, Arial, Helvetica, Noto Sans Devanagari, Noto Sans CJK SC Thin, Noto Sans SC, Noto Sans Hebrew, sans-serif;
}

.ff {
    padding-bottom: 2px;
    // margin-bottom: 5px;
    font-family: Inter, Arial, Helvetica, Noto Sans Devanagari, Noto Sans CJK SC Thin, Noto Sans SC, Noto Sans Hebrew, sans-serif;
}

.underlined-text {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid gray;
    margin-right: 8px;
    margin-bottom: 6px;
    padding-bottom: 4px;

    font-family: Inter, Arial, Helvetica, Noto Sans Devanagari, Noto Sans CJK SC Thin, Noto Sans SC, Noto Sans Hebrew, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: rgb(25, 39, 60);
}

.container {
    display: flex;
    // justify-content: in;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
}

.container1 {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
}

.right-aligned-div {
    width: 38%;
    /*background-color: #f0f0f0;*/
    // padding: 10px;
}

/* Style for editable areas when they are being edited */
.editable:focus {
    outline: none;
    /* Remove default focus outline */
    border: none;
    /* Remove border when focused */
}

.show-area:hover {
    border: 1px solid green;
}

.show-area {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border 0.3s ease;
}


/**********************************************/
.a4-template {
    width: 210mm;
    /* A4 width */
    height: 297mm;
    /* A4 height */
    margin: auto;
    padding: 8mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    font-family: Arial, sans-serif;
    // border: solid gray 1px;
    border-radius: 2px;
}

header,
footer {
    padding: 10mm;
}

header h1 {
    font-size: 24px;
}

.content {
    padding: 20mm 0;
}

.content h2 {
    font-size: 18px;
}

footer p {
    font-size: 12px;
}