<!DOCTYPE html>
<html>
  <head>
    <title>Create Resume!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="a4-template" id="contentToExport">
      <div class="container1 mb-3">
        <div
          class="ff editable"
          style="
            text-transform: uppercase;
            color: rgb(25, 39, 60);
            font-size: 28px;
            line-height: 1;
          "
          contenteditable="true"
        >
          Adarsh Pandey
        </div>
        <div
          class="ff editable mb-0"
          style="color: rgb(60, 109, 240); font-size: 14px"
          contenteditable="true"
        >
          Backend Software Developer
        </div>
        <div class="d-flex gap-2 show-area align-items-center">
          <div class="d-flex align-items-center" style="font-size: 11px">
            <i
              class="fas fa-phone"
              style="font-size: 8px; color: rgb(185, 185, 185)"
            ></i>
            <div contenteditable="true">&nbsp;+91&nbsp;7080018060</div>
          </div>

          <div class="d-flex align-items-center" style="font-size: 11px">
            <i
              class="fas fa-at"
              style="font-size: 8px; color: rgb(185, 185, 185)"
            ></i>
            <div contenteditable="true">&nbsp;devxadarsh&#64;gmail.com</div>
          </div>

          <div class="d-flex align-items-center" style="font-size: 11px">
            <i
              class="fas fa-link"
              style="font-size: 8px; color: rgb(185, 185, 185)"
            ></i>
            <div contenteditable="true">
              &nbsp;https://www.linkedin.com/in/devxadarsh
            </div>
          </div>

          <div
            class="d-flex align-items-center editable"
            style="font-size: 11px"
          >
            <i
              class="fas fa-location-dot"
              style="font-size: 8px; color: rgb(185, 185, 185)"
            ></i>
            <div contenteditable="true">&nbsp;Noida, Sector 62</div>
          </div>
        </div>
      </div>

      <div class="container justify-content-between">
        <div style="width: 59%">
          <div>
            <div>
              <div
                class="bb text-uppercase"
                style="font-size: 14px; color: gray"
              >
                SUMMARY
              </div>
              <div class="show-area bbbb editable" contenteditable="true">
                Highly skilled Java Developer with almost 1.6 years of
                experience in Spring Boot and Master's degree in Computer
                Applications. Designing, developing, and implementing software
                solutions using Java technologies. Expertise in Software
                Application architecture and object-oriented programming. Adept
                at collaborating with cross-functional teams to deliver
                high-quality, scalable, and efficient software applications.
                Possess a strong understanding of software development best
                practices, design patterns, and Micro Services Architecture.
              </div>
            </div>

            <div style="margin-top: 15px">
              <div>
                <div
                  class="bb text-uppercase"
                  style="font-size: 14px; color: gray"
                >
                  PROFESSIONAL EXPERIENCE
                </div>
                <div class="show-area editable" contenteditable="true">
                  <div style="font-size: 14px; color: rgb(25, 39, 60)">
                    Backend Developer (Job Application)
                  </div>
                  <div class="bbb">Java Springboot, MicroServices, OOPS</div>
                  <!-- <div class="ff" style="font-size: 13px">
                    Some highlights of my skills and accomplishments:
                  </div> -->

                  <div class="d-flex">
                    <div>
                      <div
                        class="fas fa-circle me-2"
                        style="font-size: 3px"
                      ></div>
                    </div>
                    <div class="bbbb">
                      Implemented Postman collections for organizing and
                      executing API test suites efficiently in Spring Boot
                      projects, facilitating seamless testing workflows.
                    </div>
                  </div>

                  <div class="d-flex">
                    <div>
                      <span
                        class="fas fa-circle me-2"
                        style="font-size: 3px"
                      ></span>
                    </div>
                    <div class="bbbb">
                      Implemented Postman collections for organizing and
                      executing API test suites efficiently in Spring Boot
                      projects, facilitating seamless testing workflows.
                    </div>
                  </div>

                  <div class="d-flex">
                    <div>
                      <span
                        class="fas fa-circle me-2"
                        style="font-size: 3px"
                      ></span>
                    </div>
                    <div class="bbbb">
                      Implemented Postman collections for organizing and
                      executing API test suites efficiently in Spring Boot
                      projects, facilitating seamless testing workflows.
                    </div>
                  </div>
                </div>

                <div class="show-area editable" contenteditable="true">
                  <div style="font-size: 14px; color: rgb(25, 39, 60)">
                    CipherPay
                  </div>
                  <div class="bbb">Java, Spring Boot, Postman</div>

                  <div class="d-flex">
                    <div>
                      <i class="fas fa-circle me-2" style="font-size: 3px"></i>
                    </div>
                    <div class="bbbb">
                      Implemented Postman collections for organizing and
                      executing API test suites efficiently in Spring Boot
                      projects, facilitating seamless testing workflows.
                    </div>
                  </div>

                  <div class="d-flex">
                    <div>
                      <span
                        class="fas fa-circle me-2"
                        style="font-size: 3px"
                      ></span>
                    </div>
                    <div class="bbbb">
                      Implemented Postman collections for organizing and
                      executing API test suites efficiently in Spring Boot
                      projects, facilitating seamless testing workflows.
                    </div>
                  </div>

                  <div class="d-flex">
                    <div>
                      <span
                        class="fas fa-circle me-2"
                        style="font-size: 3px"
                      ></span>
                    </div>
                    <div class="bbbb">
                      Implemented Postman collections for organizing and
                      executing API test suites efficiently in Spring Boot
                      projects, facilitating seamless testing workflows.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="margin-top: 10px">
              <div class="bb" style="font-size: 14px; color: gray">
                EDUCATION
              </div>
              <div class="d-flex show-area">
                <div style="width: 80%">
                  <div
                    class="editable"
                    contenteditable="true"
                    style="font-size: 14px; color: rgb(25, 39, 60)"
                  >
                    Master of Computer Application (MCA)
                  </div>
                  <div class="d-flex">
                    <div class="editable bbb mb-0" contenteditable="true">
                      Veer Bahadur Singh Purvanchal University
                    </div>
                  </div>
                  <div class="gap-4 d-flex">
                    <div
                      class="editable"
                      style="font-size: 12px"
                      contenteditable="true"
                    >
                      <i style="font-size: 12px" class="fas fa-calendar"></i>
                      2024-2025
                    </div>
                    <div
                      class="editable"
                      style="font-size: 12px"
                      contenteditable="true"
                    >
                      <i
                        style="font-size: 12px"
                        class="fas fa-location-dot"
                      ></i>
                      Noida
                    </div>
                  </div>
                </div>

                <div style="width: 20%; margin-top: 5px; display: flex">
                  <div
                    style="
                      border-left: 1px solid gray;
                      height: 50%;
                      margin-top: 10px;
                    "
                  ></div>
                  <div>
                    <div class="ff ms-3" style="font-size: 13px">GPA</div>
                    <div class="ff ms-3" style="font-size: 13px">
                      <strong
                        class="bbb editable"
                        style="font-size: 12px"
                        contenteditable="true"
                        >7.5</strong
                      >/10
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex show-area">
                <div style="width: 80%">
                  <div
                    class="editable"
                    contenteditable="true"
                    style="font-size: 14px; color: rgb(25, 39, 60)"
                  >
                    Master of Computer Application (MCA)
                  </div>
                  <div class="d-flex">
                    <div class="editable bbb mb-0" contenteditable="true">
                      Veer Bahadur Singh Purvanchal University
                    </div>
                  </div>
                  <div class="gap-4 d-flex">
                    <div
                      class="editable"
                      style="font-size: 12px"
                      contenteditable="true"
                    >
                      <i style="font-size: 12px" class="fas fa-calendar"></i>
                      2024-2025
                    </div>
                    <div
                      class="editable"
                      style="font-size: 12px"
                      contenteditable="true"
                    >
                      <i
                        style="font-size: 12px"
                        class="fas fa-location-dot"
                      ></i>
                      Noida
                    </div>
                  </div>
                </div>

                <div style="width: 20%; margin-top: 5px; display: flex">
                  <div
                    style="
                      border-left: 1px solid gray;
                      height: 50%;
                      margin-top: 10px;
                    "
                  ></div>
                  <div>
                    <div class="ff ms-3" style="font-size: 13px">GPA</div>
                    <div class="ff ms-3" style="font-size: 13px">
                      <strong
                        class="bbb editable"
                        style="font-size: 12px"
                        contenteditable="true"
                        >7.5</strong
                      >/10
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex show-area">
                <div style="width: 80%">
                  <div
                    class="editable"
                    contenteditable="true"
                    style="font-size: 14px; color: rgb(25, 39, 60)"
                  >
                    Master of Computer Application (MCA)
                  </div>
                  <div class="d-flex">
                    <div class="editable bbb mb-0" contenteditable="true">
                      Veer Bahadur Singh Purvanchal University
                    </div>
                  </div>
                  <div class="gap-4 d-flex">
                    <div
                      class="editable"
                      style="font-size: 12px"
                      contenteditable="true"
                    >
                      <i style="font-size: 12px" class="fas fa-calendar"></i>
                      2024-2025
                    </div>
                    <div
                      class="editable"
                      style="font-size: 12px"
                      contenteditable="true"
                    >
                      <i
                        style="font-size: 12px"
                        class="fas fa-location-dot"
                      ></i>
                      Noida
                    </div>
                  </div>
                </div>

                <div style="width: 20%; margin-top: 5px; display: flex">
                  <div
                    style="
                      border-left: 1px solid gray;
                      height: 50%;
                      margin-top: 10px;
                    "
                  ></div>
                  <div>
                    <div class="ff ms-3" style="font-size: 13px">GPA</div>
                    <div class="ff ms-3" style="font-size: 13px">
                      <strong
                        class="bbb editable"
                        style="font-size: 12px"
                        contenteditable="true"
                        >7.5</strong
                      >/10
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Right-aligned section ****************************-->
        <div class="right-aligned-div">
          <div>
            <div>
              <div
                class="bb text-uppercase"
                style="font-size: 14px; color: gray"
              >
                Technical Skills
              </div>
              <div class="show-area editable" contenteditable="true">
                <span class="underlined-text">Java</span>
                <span class="underlined-text">Spring Boot</span>
                <span class="underlined-text">Microservices</span>
                <span class="underlined-text">Docker</span>
                <span class="underlined-text">Kubernetes</span>
                <span class="underlined-text">AWS</span>
                <span class="underlined-text">Linux</span>
                <span class="underlined-text">Postman</span>
                <span class="underlined-text">PostgreSQL</span>
                <span class="underlined-text">MySQL</span>
                <span class="underlined-text">CRUD</span>
                <span class="underlined-text">JSON</span>
                <span class="underlined-text">API Gateway</span>
                <span class="underlined-text">Spring Security</span>
                <span class="underlined-text">JWT</span>
                <span class="underlined-text">RabbitMQ</span>
                <span class="underlined-text">Git</span>
                <span class="underlined-text">Maven</span>
                <span class="underlined-text">DFD</span>
                <span class="underlined-text">Github</span>
                <span class="underlined-text">Data Structure</span>
                <span class="underlined-text">OOPs</span>
              </div>
            </div>

            <div style="margin-top: 30px">
              <div class="bb" style="font-size: 14px; color: gray">
                Language
              </div>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 10px;
                "
                class="show-area editable"
                contenteditable="true"
              >
                <div class="bbc">English</div>
                <div style="display: flex">
                  <span style="margin-right: 10px" class="bbc"
                    >Proficiency</span
                  >
                  <div class="stars" style="font-size: 12px">
                    &#9733;&#9733;&#9733;&#9733;&#9733;
                  </div>
                </div>
              </div>

              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 10px;
                "
                class="show-area editable"
                contenteditable="true"
              >
                <div class="bbc">Hindi</div>
                <div style="display: flex">
                  <span style="margin-right: 10px" class="bbc"
                    >Proficiency</span
                  >
                  <div class="stars" style="font-size: 12px">
                    &#9733;&#9733;&#9733;&#9733;&#9733;
                  </div>
                </div>
              </div>
            </div>

            <div style="margin-top: 30px">
              <div>
                <div
                  class="bb text-uppercase"
                  style="font-size: 14px; color: gray"
                >
                  Training/Course
                </div>
                <div class="show-area editable" contenteditable="true">
                  <span class="bbb">Java Backend Developer</span>
                  <br />
                  <span class="bbbb"
                    >As a Backend Developer, I worked at consult IT</span
                  >
                </div>
                <div
                  class="show-area editable"
                  style="margin-top: 10px"
                  contenteditable="true"
                >
                  <span class="bbb">Java Backend Developer</span>
                  <br />
                  <span class="bbbb"
                    >As a Backend Developer, I worked at consult IT</span
                  >
                </div>
              </div>
            </div>

            <div style="margin-top: 30px">
              <div>
                <div
                  class="bb text-uppercase"
                  style="font-size: 14px; color: gray"
                >
                  Strength
                </div>
                <div class="d-flex show-area">
                  <div
                    style="
                      width: 35px;
                      height: 35px;
                      border-radius: 50%;
                      background-color: rgb(234, 234, 234);
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    "
                  >
                    <i class="fas fa-head-side-virus text-primary"></i>
                  </div>
                  <div class="editable ms-2" contenteditable="true">
                    <div style="font-size: 16px; color: rgb(60, 109, 240)">
                      Java Backend Developer
                    </div>
                    <div class="bbbb">
                      As a Backend Developer, I worked at consult IT
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ****** -->
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      "
    >
      <button class="btn btn-primary me-3" (click)="downloadPdf()">
        Download PDF
      </button>
      <button
        class="btn btn-secondary"
        (click)="pdfDownloadService.downloadPdf()"
      >
        Download PDF from Server
      </button>
    </div>
  </body>
</html>
